{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-css-order",
    "prettier-plugin-organize-imports",
    "prettier-plugin-packagejson"
  ],
  "tailwindFunctions": ["clsx", "cn", "twMerge"]
}
